@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body{
    margin:10px;
    background-color:aliceblue !important
}
p {
    font-family: 'Noto Sans JP', sans-serif;
    color: rgba(0, 0, 0);
    font-weight: 500 !important;
    text-transform: uppercase;
   
}
table {
    width: 70% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: rgb(206, 238, 238);
    font-weight: 500 !important;
    font-family: 'Quicksand', sans-serif;
    /*text-align: justify !important;*/
}
.uppertype {
    background-color: rgba(0, 0, 0,0.75) !important;
    color: white !important;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    
}
.button:hover {
   color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

   
}
.button {
    background-color: rgba(33, 213, 153, 0.84) !important;
    border-radius: 10px !important;
    text-transform: uppercase;
    font-weight: 700 !important;
    color: white !important;
}
.img1 {
    background-image: url('../image/image2.jpg');
    height: auto;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container h1 {
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700 !important;
    
}
