*{
    margin:0;
    padding:0
}
#nav-bar{
    position:sticky;
    top:0;
    z-index:10;
}

.navbar{
    background-image:linear-gradient(to right,#34495e,#34495e);
    padding:0 !important;
}

.navbar-brand img{
    height:40px;
    padding-left:20px
}

.navbar-nav li{
    padding:0 10px;
    float:right;
    text-align:left;
}

.navbar-nav li a{
    color:#fff !important;
    font-weight:600;
}

.navbar-toggler{
    outline:none !important
}


.link:link,
.link:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
    font-weight: 700;
}

.link:hover,
.link:active{
    border-bottom: 2px solid #e67e22;
    
}

